fieldset{
    border-radius: 20px;
    background-color: aqua;
}
textarea{
    border-radius: 10px;
    background-color: rgb(182, 214, 198);
}
h1{
    text-align: center;
    color: rgb(80, 77, 75);
    font-family: sans-serif;
    font-style: italic;
}
h2{
     text-align: center;
    color: rgb(80, 77, 75);
    font-family: sans-serif;
    font-style: italic;
}
body{
    background-color: rgb(183, 211, 204);
}